.collapse-module_collapse__24uNq:not(.collapse-module_show__171rS) {
    display: none; }
  
  .collapse-module_show__171rS {
    display: block; }
  
  .collapse-module_collapsing__3aYG5 {
    height: 0;
    overflow: hidden;
    position: relative;
    transition-duration: 0.35s;
    transition-property: height,visibility;
    transition-timing-function: ease; }
    .alert-module_alert__YNUvw {
        align-items: center;
        border: none;
        border-radius: 3px;
        display: flex;
        font-size: 16px;
        margin-bottom: 1rem;
        padding: 9.5px 30px 9.5px 15px;
        position: relative; }
        @media (max-width: 990px) {
          .alert-module_alert__YNUvw {
            display: block; } }
        .alert-module_alert__YNUvw svg {
          vertical-align: middle; }
      
      .alert-module_alert-primary__30_Bm {
        background-color: rgba(56, 155, 255, 0.06);
        color: #389BFF; }
      
      .alert-module_alert-success__O96g8 {
        background-color: rgba(0, 206, 125, 0.06);
        color: #00CE7D; }
      
      .alert-module_alert-danger__zr3Gm {
        background-color: rgba(254, 6, 37, 0.06);
        color: #FE0625; }
      
      .alert-module_alertInside__2M8ZD {
        display: inline-block;
        width: 100%; }
      
      .alert-module_title__2Re5X {
        float: left;
        margin-right: 10px; }
      
      .alert-module_description__38tOt {
        float: left;
        font-size: 14px;
        margin-top: 2px; }
      
      .alert-module_close__2naWP {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 0;
        color: inherit;
        cursor: pointer;
        float: right;
        font-size: 35px;
        font-weight: 200;
        height: 100%;
        line-height: 1;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px; }
        .alert-module_close__2naWP .alert-module_close-icon__2Gm0N {
          position: absolute;
          right: 15px;
          top: 1px; }
        .alert-module_close__2naWP:hover {
          opacity: .5; }
          .loading-module_tzero-loading-ring__vdvXm {
            display: inline-block;
            height: 30px;
            position: relative;
            width: 30px; }
            .loading-module_tzero-loading-ring__vdvXm div {
              animation: loading-module_loading-ring__QpEas 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
              border-radius: 25px;
              box-sizing: border-box;
              display: block;
              height: 25px;
              margin: 3px;
              position: absolute;
              width: 25px; }
            .loading-module_tzero-loading-ring__vdvXm div:nth-child(1) {
              animation-delay: -0.45s; }
            .loading-module_tzero-loading-ring__vdvXm div:nth-child(2) {
              animation-delay: -0.3s; }
            .loading-module_tzero-loading-ring__vdvXm div:nth-child(3) {
              animation-delay: -0.15s; }
          
          @keyframes loading-module_loading-ring__QpEas {
            0% {
              transform: rotate(0deg); }
            100% {
              transform: rotate(360deg); } }
              .button-module_tzero-btn__1h9fB {
                background-color: transparent;
                border: 1px solid transparent;
                border-radius: 3px;
                color: #FFFFFF;
                cursor: pointer;
                display: block;
                font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
                margin-bottom: 24px;
                margin-right: 8px;
                padding: 0 20px;
                text-align: center;
                text-transform: capitalize;
                transition: opacity 0.3s ease; }
                .button-module_tzero-btn__1h9fB:hover {
                  opacity: 0.8; }
                .button-module_tzero-btn__1h9fB:active {
                  background-color: #e6e6e6; }
                .button-module_tzero-btn__1h9fB:disabled {
                  background-color: #F5F6F7 !important;
                  color: #2F3337 !important;
                  cursor: not-allowed !important;
                  opacity: 0.5 !important; }
                .button-module_tzero-btn__1h9fB.button-module_sm__3GApP {
                  font-size: 12px;
                  height: 30px;
                  padding: 0 15px; }
                .button-module_tzero-btn__1h9fB.button-module_md__2fj0d {
                  font-size: 14px;
                  height: 34px;
                  padding: 0 15px; }
                .button-module_tzero-btn__1h9fB.button-module_lg__3v2Ow {
                  font-size: 16px;
                  height: 44px; }
                .button-module_tzero-btn__1h9fB.button-module_block__1RwbG {
                  display: block;
                  width: 100%; }
                .button-module_tzero-btn__1h9fB.button-module_rounded__2mpro {
                  border-radius: 25px; }
                .button-module_tzero-btn__1h9fB.button-module_loading__2w9I9 {
                  pointer-events: none; }
                .button-module_tzero-btn__1h9fB.button-module_dark__3Li6D {
                  border: none; }
                  .button-module_tzero-btn__1h9fB.button-module_dark__3Li6D:disabled {
                    background-color: #282828 !important;
                    color: #000000 !important; }
              
              .button-module_btn-flex__7VoFL {
                align-items: center;
                display: flex;
                justify-content: center; }
              
              .button-module_tzero-btn-default__1yqwN {
                background-color: #FFFFFF;
                border: 1px solid #CED1D5;
                color: #17181A; }
                .button-module_tzero-btn-default__1yqwN.button-module_dark__3Li6D {
                  background-color: #282828;
                  color: #FFFFFF; }
                  .button-module_tzero-btn-default__1yqwN.button-module_dark__3Li6D:hover {
                    border: 1px solid #545658;
                    opacity: 1; }
                  .button-module_tzero-btn-default__1yqwN.button-module_dark__3Li6D:active {
                    background-color: #232323; }
              
              .button-module_tzero-btn-link__1mCNv {
                background-color: transparent;
                border: none;
                color: #389BFF;
                height: unset !important;
                margin: 0;
                padding: 0 !important; }
                .button-module_tzero-btn-link__1mCNv a {
                  color: inherit;
                  text-decoration: none; }
                .button-module_tzero-btn-link__1mCNv:hover {
                  color: #1774F0; }
                .button-module_tzero-btn-link__1mCNv:active {
                  background-color: transparent;
                  color: #0e68df; }
              
              .button-module_tzero-btn-destructive__1EnYF {
                background-color: #FFFFFF;
                border-color: #CED1D5;
                color: #FE0625; }
                .button-module_tzero-btn-destructive__1EnYF.button-module_dark__3Li6D {
                  background-color: #282828; }
                  .button-module_tzero-btn-destructive__1EnYF.button-module_dark__3Li6D:hover {
                    border: 1px solid #545658;
                    opacity: 1; }
                  .button-module_tzero-btn-destructive__1EnYF.button-module_dark__3Li6D:active {
                    background-color: #232323; }
              
              .button-module_tzero-btn-gray__1IsUL {
                background-color: #F5F6F7;
                color: #2F3337; }
                .button-module_tzero-btn-gray__1IsUL.button-module_dark__3Li6D {
                  background-color: #282828;
                  color: #FFFFFF; }
                  .button-module_tzero-btn-gray__1IsUL.button-module_dark__3Li6D:hover {
                    border: 1px solid #545658;
                    opacity: 1; }
                  .button-module_tzero-btn-gray__1IsUL.button-module_dark__3Li6D:active {
                    background-color: #232323; }
              
              .button-module_tzero-btn-primary__1woyk {
                background-color: #389BFF;
                border: none;
                color: #FFFFFF; }
                .button-module_tzero-btn-primary__1woyk:hover {
                  background-color: #389BFF;
                  color: #FFFFFF; }
                .button-module_tzero-btn-primary__1woyk:active {
                  background-color: #0581ff; }
              
              .button-module_tzero-btn-success__6PJ07 {
                background-color: #00CE7D;
                border: none;
                color: #FFFFFF; }
                .button-module_tzero-btn-success__6PJ07:hover {
                  background-color: #00CE7D;
                  color: #FFFFFF; }
                .button-module_tzero-btn-success__6PJ07:active {
                  background-color: #009b5e; }
              
              .button-module_tzero-btn-transparent__bHEAz {
                background-color: transparent;
                transition: opacity 0.3s ease; }
                .button-module_tzero-btn-transparent__bHEAz.button-module_bordered__tbjnp {
                  border: 2px solid rgba(254, 254, 254, 0.5); }
                .button-module_tzero-btn-transparent__bHEAz:hover {
                  background-color: #FFFFFF;
                  border: 2px solid rgba(254, 254, 254, 0.5);
                  color: #17181A;
                  opacity: 1; }
                .button-module_tzero-btn-transparent__bHEAz:active {
                  background-color: #e6e6e6; }
                 .table-module_table__kGAht {
                    background-color: transparent;
                    border-collapse: collapse;
                    margin-bottom: 1rem;
                    width: 100%; }
                    .table-module_table__kGAht th {
                      text-align: inherit; }
                    .table-module_table__kGAht td {
                      color: #2F3337;
                      font-size: 14px; }
                    .table-module_table__kGAht th,
                    .table-module_table__kGAht td {
                      border-bottom: 1px solid #E7E8EA;
                      border-top: 1px solid #E7E8EA;
                      padding: 0.75rem; }
                    .table-module_table__kGAht thead {
                      color: #8A8F9C;
                      font-size: 14px;
                      font-weight: 400; }
                      .table-module_table__kGAht thead th {
                        font-weight: 400;
                        padding: 12px 0.75rem;
                        vertical-align: bottom; }
                  
                  .table-module_striped__2SpVd tbody tr:nth-of-type(odd) {
                    background-color: #F9FAFB; }
                  
                  .table-module_table-hover__UhwN7 tbody tr {
                    transition: background-color 140ms ease-in-out; }
                    .table-module_table-hover__UhwN7 tbody tr:hover {
                      background-color: #F5F6F7;
                      cursor: pointer; }
                  
                  .table-module_table-bordered__ps3a5 {
                    border: 1px solid #E7E8EA; }
                    .table-module_table-bordered__ps3a5 th,
                    .table-module_table-bordered__ps3a5 td {
                      border: 1px solid #E7E8EA; }
                    .table-module_table-bordered__ps3a5 thead th,
                    .table-module_table-bordered__ps3a5 thead td {
                      border-bottom-width: 2px; }
                  
                  .table-module_table-sm___hSNo thead th {
                    padding: 0.3rem; }
                  
                  .table-module_table-sm___hSNo th,
                  .table-module_table-sm___hSNo td {
                    padding: 0.3rem; }
                  
                  .table-module_table-fixed__37Qu7 {
                    table-layout: fixed; }
                  
                  .table-module_table-responsive__2iPcW {
                    display: block;
                    -webkit-overflow-scrolling: touch;
                    -ms-overflow-style: -ms-autohiding-scrollbar;
                    overflow-x: auto;
                    width: 100%; }
                  
                  .table-module_dark__1gQRB td {
                    color: #FFFFFF; }
                  
                  .table-module_dark__1gQRB th,
                  .table-module_dark__1gQRB td {
                    border-bottom: 1px solid #282828;
                    border-top: 1px solid #282828; }
                  
                  .table-module_dark__1gQRB.table-module_striped__2SpVd tbody tr:nth-of-type(odd) {
                    background-color: #181818; }
                  
                  .table-module_dark__1gQRB.table-module_table-hover__UhwN7 tbody tr:hover {
                    background-color: #282828; }
                  
                  .table-module_dark__1gQRB.table-module_table-bordered__ps3a5 {
                    border: 1px solid #282828; }
                    .table-module_dark__1gQRB.table-module_table-bordered__ps3a5 th,
                    .table-module_dark__1gQRB.table-module_table-bordered__ps3a5 td {
                      border: 1px solid #282828; }
                 .input-module_form-control__2TrzH {
                    background-clip: padding-box;
                    background-color: transparent;
                    border: 1px solid #CED1D5;
                    border-radius: 3px;
                    box-shadow: inset 0 2px 0 0 rgba(84, 86, 88, 0.06);
                    box-sizing: border-box;
                    color: #545658;
                    display: block;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    padding: 0.375rem 0.75rem;
                    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                    width: 100%; }
                    .input-module_form-control__2TrzH:focus {
                      border-color: #80bdff;
                      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                      color: #545658;
                      outline: 0; }
                    .input-module_form-control__2TrzH::placeholder {
                      color: #DADCDF;
                      opacity: 1; }
                    .input-module_form-control__2TrzH:disabled, .input-module_form-control__2TrzH[readonly] {
                      background-color: #E7E8EA;
                      opacity: 1; }
                    .input-module_form-control__2TrzH.input-module_sm__33baQ {
                      font-size: 14px;
                      padding: .25rem .5rem; }
                    .input-module_form-control__2TrzH.input-module_md__17F_s {
                      font-size: 16px; }
                    .input-module_form-control__2TrzH.input-module_lg__1-QN5 {
                      font-size: 16px;
                      padding: 8px 16px; }
                    .input-module_form-control__2TrzH.input-module_input-icon-left__1SaXn {
                      padding-left: 34px; }
                    .input-module_form-control__2TrzH.input-module_input-icon-right__1Kyb7 {
                      padding-right: 50px; }
                  
                  .input-module_sm__33baQ {
                    height: 30px; }
                  
                  .input-module_md__17F_s {
                    height: 34px; }
                  
                  .input-module_lg__1-QN5 {
                    height: 44px; }
                  
                  .input-module_icon__3H-qC {
                    align-items: center;
                    bottom: 0;
                    display: inline-flex;
                    justify-content: center;
                    overflow: visible;
                    pointer-events: none;
                    position: absolute;
                    width: 35px; }
                  
                  .input-module_left-icon__3yyec {
                    left: 3px; }
                  
                  .input-module_right-icon__VeCDy {
                    right: 10px; }
                  
                  .input-module_add-on-group__WIhQW {
                    align-items: stretch;
                    display: flex;
                    position: relative;
                    width: 100%; }
                  
                  .input-module_add-on__Bm3AQ {
                    align-items: center;
                    background-color: #F9FAFB;
                    border: 1px solid #CED1D5;
                    border-radius: 3px;
                    box-shadow: inset 0 2px 0 0 rgba(84, 86, 88, 0.06);
                    color: #545658;
                    display: flex;
                    font-size: 16px;
                    font-weight: normal;
                    margin-bottom: 0;
                    padding: 0.375rem 0.75rem;
                    text-align: center;
                    white-space: nowrap; }
                  
                  .input-module_left-margin__2VBWd {
                    margin-right: -1px; }
                  
                  .input-module_right-margin__1Lz9B {
                    margin-left: -1px; }
                  
                  .input-module_left-add-on__2KrI9 {
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0; }
                  
                  .input-module_right-add-on__6uC1X {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0; }
                  
                  select.input-module_form-control__2TrzH {
                    text-indent: 3px; }
                  
                  .input-module_small-text__3LAtg {
                    color: #8A8F9C;
                    font-size: 12px; }
                  
                  input.input-module_is-valid__-3FLy {
                    border-color: #00CE7D !important; }
                  
                  small.input-module_is-valid__-3FLy {
                    color: #00CE7D; }
                  
                  input.input-module_is-warning__2IHf8 {
                    border-color: #FFC107 !important; }
                  
                  small.input-module_is-warning__2IHf8 {
                    color: #FFC107;
                    font-weight: bold; }
                  
                  input.input-module_is-invalid__3EB6H {
                    border-color: #FE0625 !important; }
                  
                  small.input-module_is-invalid__3EB6H {
                    color: #FE0625;
                    font-weight: normal; }
                  
                  textarea.input-module_form-control__2TrzH {
                    height: auto; }
                  
                  .input-module_radio-wrappers__mrDvg {
                    display: block;
                    margin-bottom: 5px;
                    padding-left: 36px;
                    position: relative; }
                  
                  .input-module_form-radio__17smT {
                    box-sizing: border-box;
                    cursor: pointer;
                    margin-left: -32px;
                    margin-top: 0px;
                    padding: 0;
                    position: absolute; }
                    .input-module_form-radio__17smT::after {
                      background-color: #FFFFFF;
                      border: 2px solid #CED1D5;
                      border-image: initial;
                      border-radius: 50%;
                      box-sizing: border-box; }
                    .input-module_form-radio__17smT::after, .input-module_form-radio__17smT:checked::after {
                      content: "";
                      display: inline-block;
                      height: 20px;
                      left: -4px;
                      position: relative;
                      top: 0px;
                      visibility: visible;
                      width: 20px; }
                    .input-module_form-radio__17smT:checked::after {
                      background-color: #2F3337;
                      border: 2px solid #2F3337;
                      border-image: initial;
                      border-radius: 50%;
                      box-shadow: 0px 0px 0px 3px #FFFFFF inset; }
                  
                  .input-module_form-checkbox__3MTBl {
                    -webkit-appearance: none;
                    background-color: transparent;
                    border: 2px solid #CED1D5;
                    border-radius: 2px;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                    box-sizing: border-box;
                    cursor: pointer;
                    margin-left: -36px;
                    padding: 9px;
                    position: absolute;
                    top: 0; }
                    .input-module_form-checkbox__3MTBl:checked {
                      background-color: #2F3337;
                      border: 2px solid #2F3337; }
                      .input-module_form-checkbox__3MTBl:checked:after {
                        color: #FFFFFF;
                        content: '\2713';
                        font-size: 18px;
                        left: 2px;
                        position: absolute;
                        top: -1px; }
                    .input-module_form-checkbox__3MTBl:focus {
                      outline: none; }
                    .input-module_form-checkbox__3MTBl.input-module_is-invalid__3EB6H {
                      border-color: #FE0625; }
                    .input-module_form-checkbox__3MTBl.input-module_is-warning__2IHf8 {
                      border-color: #FFC107; }
                  
                  .input-module_form-toggle__3lJ2i {
                    position: relative; }
                    .input-module_form-toggle__3lJ2i input {
                      display: none; }
                      .input-module_form-toggle__3lJ2i input:active + .input-module_form-toggle-slider__1nwYU,
                      .input-module_form-toggle__3lJ2i input:checked + .input-module_form-toggle-slider__1nwYU {
                        border: 10px solid #389BFF; }
                      .input-module_form-toggle__3lJ2i input:checked + .input-module_form-toggle-slider__1nwYU:after {
                        left: 15px; }
                  
                  .input-module_form-toggle-slider__1nwYU {
                    background: #FFFFFF;
                    border: 2px solid #e5e5e5;
                    border-radius: 32px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    cursor: pointer;
                    display: block;
                    height: 20px;
                    transition: all .3s ease;
                    width: 35px; }
                    .input-module_form-toggle-slider__1nwYU:after {
                      background-color: #FFFFFF;
                      border-radius: 28px;
                      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
                      content: "";
                      cursor: pointer;
                      height: 20px;
                      left: 2px;
                      position: absolute;
                      top: 0;
                      transition: all 0.3s cubic-bezier(0.275, -0.45, 0.725, 1.45);
                      width: 20px; }
                  
                  .input-module_form-check-label__3ueN0 {
                    font-size: 14px;
                    font-stretch: normal;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    line-height: normal;
                    margin-bottom: 0;
                    min-height: 15px; }
                  
                  .input-module_label__3XPZz {
                    display: inline-block;
                    font-size: 14px;
                    font-stretch: normal;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    line-height: normal;
                    margin-bottom: 13px; }
                    @media (min-width: 576px) {
                      .input-module_label__3XPZz {
                        margin-right: .5rem; } }
                  
                  .input-module_form-group__3-txd {
                    margin-bottom: 1rem;
                    position: relative; }
                  
                  .input-module_dark__68e6N {
                    border: solid 1px #545658;
                    color: #FFFFFF; }
                    .input-module_dark__68e6N:focus {
                      border: solid 1px #545658;
                      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.75);
                      color: #FFFFFF; }
                    .input-module_dark__68e6N::placeholder {
                      color: #626669; }
                    .input-module_dark__68e6N:disabled, .input-module_dark__68e6N[readonly] {
                      background-color: #282828;
                      cursor: not-allowed; }
                  
                  .input-module_dark__68e6N.input-module_form-radio__17smT::after {
                    background-color: #080808;
                    border: 2px solid #545658; }
                  
                  .input-module_dark__68e6N.input-module_form-radio__17smT:checked::after {
                    background-color: #389BFF;
                    border: 2px solid #389BFF;
                    box-shadow: 0px 0px 0px 3px #080808 inset; }
                  
                  .input-module_dark__68e6N.input-module_form-radio__17smT:focus {
                    box-shadow: none; }
                  
                  .input-module_dark__68e6N.input-module_form-checkbox__3MTBl {
                    background-color: transparent;
                    border: 2px solid #545658; }
                    .input-module_dark__68e6N.input-module_form-checkbox__3MTBl:checked {
                      background-color: transparent;
                      border-color: #FFFFFF; }
                      .input-module_dark__68e6N.input-module_form-checkbox__3MTBl:checked:after {
                        color: #FFFFFF; }
                 .badge-module_tzero-badge__3YOTE {
                    border-radius: .25rem;
                    display: inline-block;
                    font-size: 13px;
                    font-weight: normal;
                    line-height: 1;
                    padding: 5px 10px;
                    text-align: center;
                    vertical-align: initial;
                    white-space: nowrap; }
                  
                  .badge-module_badge-primary__1poUM {
                    background-color: rgba(56, 155, 255, 0.2);
                    color: #389BFF; }
                  
                  .badge-module_badge-success__2GUHX {
                    background-color: rgba(0, 206, 125, 0.2);
                    color: #00CE7D; }
                  
                  .badge-module_badge-danger__2bS6Q {
                    background-color: rgba(254, 6, 37, 0.2);
                    color: #FE0625; }
                  
                  .badge-module_badge-warning__12yZC {
                    background-color: rgba(132, 89, 212, 0.2);
                    color: #8459D4; }
                  
                  .badge-module_badge-info__3VzYZ {
                    background-color: rgba(56, 155, 255, 0.2);
                    color: #389BFF; }
                  
                  .badge-module_badge-light__1C8Pa {
                    background-color: rgba(47, 51, 55, 0.2);
                    color: #2F3337; }
                  
                  .badge-module_badge-dark__31sP3 {
                    background-color: #17181A;
                    color: #F9FAFB; }
                    .pagination-module_pagination-wrapper__3ZHSU {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    margin: 10px 0; }
                    @media (max-width: 481px) {
                      .pagination-module_pagination-wrapper__3ZHSU {
                        max-width: 70%; } }
                  
                  .pagination-module_pagination-prev__3uSfl {
                    margin-right: 10px; }
                  
                  .pagination-module_pagination-next__3Os0_ {
                    margin-left: 10px; }
                  
                  .pagination-module_pagination__28iQ_ {
                    border-radius: 0.25rem;
                    display: flex;
                    list-style: none;
                    margin-bottom: 0;
                    padding-left: 0; }
                  
                  .pagination-module_page-link__2yePj {
                    background: none;
                    border: none;
                    border-radius: 3px;
                    color: #2F3337;
                    cursor: pointer;
                    display: block;
                    font-size: 16px;
                    height: 34px;
                    line-height: 1.25;
                    margin-right: 5px;
                    padding: 0;
                    position: relative;
                    width: 34px; }
                    @media (max-width: 481px) {
                      .pagination-module_page-link__2yePj {
                        font-size: 14px;
                        height: 30px;
                        margin: 0 5px;
                        width: 30px; } }
                    .pagination-module_page-link__2yePj:hover {
                      background-color: #F9FAFB;
                      border-color: #E7E8EA;
                      color: #1774F0;
                      text-decoration: none;
                      z-index: 2; }
                    .pagination-module_page-link__2yePj:active {
                      background-color: #F5F6F7; }
                    .pagination-module_page-link__2yePj:focus {
                      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                      outline: 0;
                      z-index: 2; }
                    .pagination-module_page-link__2yePj.pagination-module_pagination-next__3Os0_:disabled, .pagination-module_page-link__2yePj.pagination-module_pagination-prev__3uSfl:disabled {
                      cursor: not-allowed;
                      opacity: 0.2; }
                    .pagination-module_page-link__2yePj.pagination-module_page-wrapper__102sU:disabled {
                      background-color: rgba(56, 155, 255, 0.06);
                      border-radius: 3px;
                      color: #389BFF;
                      cursor: not-allowed; }
                  
                  .pagination-module_page-item__1gK8q:first-child .pagination-module_page-link__2yePj {
                    border-bottom-left-radius: 0.25rem;
                    border-top-left-radius: 0.25rem; }
                  
                  .pagination-module_page-item__1gK8q:last-child .pagination-module_page-link__2yePj {
                    border-bottom-right-radius: 0.25rem;
                    border-top-right-radius: 0.25rem; }
                  
                  .pagination-module_page-item__1gK8q.pagination-module_active__36Og7 .pagination-module_page-link__2yePj {
                    background-color: #F9FAFB;
                    border-color: #E7E8EA;
                    color: #1774F0;
                    z-index: 1; }
                  
                  .pagination-module_page-item__1gK8q.pagination-module_disabled__2UC5a .pagination-module_page-link__2yePj {
                    background-color: transparent;
                    color: #CED1D5;
                    cursor: not-allowed; }
                  
                  .pagination-module_caret__3x19H {
                    font-size: 28px;
                    font-weight: 200;
                    line-height: 0.8; }
                  
                  .pagination-module_arrows-only__3MVXT {
                    height: 24px;
                    width: 24px; }
                    .pagination-module_arrows-only__3MVXT .pagination-module_caret__3x19H {
                      font-size: 22px; }
                  
                  .pagination-module_page-quantity__1TlKN {
                    color: #2F3337;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    margin-right: 20px; }
                  
                  .pagination-module_dark__2-Oao.pagination-module_pagination-wrapper__3ZHSU .pagination-module_page-item__1gK8q > button {
                    background-color: #282828;
                    border-color: #22252A;
                    color: #FFFFFF; }
                  
                  .pagination-module_dark__2-Oao.pagination-module_pagination-wrapper__3ZHSU .pagination-module_page-item__1gK8q.pagination-module_active__36Og7 > button {
                    background-color: #545658;
                    border-color: #545658; }
                  
                  .pagination-module_dark__2-Oao.pagination-module_pagination-wrapper__3ZHSU .pagination-module_page-item__1gK8q > button:hover {
                    color: #389BFF; }
                  
                  .pagination-module_dark__2-Oao.pagination-module_pagination-wrapper__3ZHSU .pagination-module_page-item__1gK8q > button:active {
                    background-color: #2F3337; }
                  
                  .pagination-module_dark__2-Oao.pagination-module_pagination-wrapper__3ZHSU .pagination-module_page-item__1gK8q.pagination-module_disabled__2UC5a > button {
                    background-color: #282828;
                    color: #8A8F9C; }
                  
                  .pagination-module_dark__2-Oao.pagination-module_pagination-wrapper__3ZHSU .pagination-module_page-quantity__1TlKN {
                    color: #FFFFFF; }
                 .tooltip-module_tooltip-wrapper__20veG {
                    display: inline-block;
                    position: relative;
                    z-index: 98; }
                  
                  .tooltip-module_tooltip-arrow__DbLAi {
                    backface-visibility: hidden;
                    box-sizing: border-box;
                    height: 0;
                    position: absolute;
                    transform: translate3d(0, 0, 0);
                    transform-origin: top;
                    width: 0;
                    will-change: transform;
                    z-index: 99; }
                  
                  .tooltip-module_tip-container__2wll2 {
                    backface-visibility: hidden;
                    border: 1px solid #DADCDF;
                    border-radius: 4px;
                    box-sizing: content-box;
                    max-width: 420px;
                    padding: .5em 1em;
                    position: absolute;
                    transform: translate3d(0, 0, 0);
                    transform-origin: top;
                    white-space: nowrap;
                    will-change: transform;
                    z-index: 99; }
                  
                  .tooltip-module_gap__1aSkc {
                    height: 20px;
                    position: absolute;
                    width: 100%; }
                .dropdown-module_tzero-dropdown-container__2it6h {
                    align-items: center;
                    color: #2F3337;
                    display: flex !important;
                    margin-right: 20px;
                    width: max-content;
                    z-index: auto !important; }
                    @media (max-width: 768px) {
                      .dropdown-module_tzero-dropdown-container__2it6h {
                        margin-right: 5px; } }
                    .dropdown-module_tzero-dropdown-container__2it6h .dropdown-module_tip-dropdown-container__1-18d {
                      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
                      min-width: 212px;
                      padding: 12px 0;
                      top: 48px; }
                    .dropdown-module_tzero-dropdown-container__2it6h .dropdown-module_tzero-dropdown-item__3wfma {
                      color: #17181A;
                      cursor: pointer;
                      display: block;
                      font-size: 14px;
                      padding: 5px 20px; }
                      .dropdown-module_tzero-dropdown-container__2it6h .dropdown-module_tzero-dropdown-item__3wfma:hover {
                        background-color: #F9FAFB;
                        color: #00CE7D;
                        text-decoration: none; }
                    .dropdown-module_tzero-dropdown-container__2it6h .dropdown-module_tzero-dropdown-value__1XV1r {
                      cursor: pointer;
                      font-size: 12px;
                      font-weight: bold;
                      letter-spacing: 1px;
                      text-align: center; }
                      @media (max-width: 481px) {
                        .dropdown-module_tzero-dropdown-container__2it6h .dropdown-module_tzero-dropdown-value__1XV1r {
                          max-width: 100px;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          white-space: nowrap; } }
                    .dropdown-module_tzero-dropdown-container__2it6h .dropdown-module_tzero-dropdown-icon__3Q8k3 {
                      cursor: pointer;
                      margin-left: 5px; }
                  
                  .dropdown-module_dark__d2IZP.dropdown-module_tzero-dropdown-container__2it6h {
                    color: #FFFFFF; }
                    .dropdown-module_dark__d2IZP.dropdown-module_tzero-dropdown-container__2it6h .dropdown-module_tip-dropdown-container__1-18d {
                      border: none; }
                    .dropdown-module_dark__d2IZP.dropdown-module_tzero-dropdown-container__2it6h .dropdown-module_tzero-dropdown-item__3wfma {
                      color: #FFFFFF; }
                      .dropdown-module_dark__d2IZP.dropdown-module_tzero-dropdown-container__2it6h .dropdown-module_tzero-dropdown-item__3wfma:hover {
                        background-color: #000000;
                        color: #00CE7D; }
                  
                        .tab-item-module_tab-item__2zDUr {
                    display: inline-block; }
                  
                  .tab-item-module_item-link__iK6Ij {
                    color: #8A8F9C;
                    cursor: pointer;
                    display: block;
                    padding: 16px 20px;
                    text-decoration: none;
                    text-transform: capitalize; }
                    .tab-item-module_item-link__iK6Ij:hover {
                      color: #17181A; }
                  
                  .tab-item-module_active-item__SlHvz {
                    color: #17181A;
                    cursor: default; }
                  
                  .tab-item-module_dark__DWyFj.tab-item-module_tab-item__2zDUr .tab-item-module_active-item__SlHvz {
                    color: #FFFFFF !important; }
                  
                  .tab-item-module_dark__DWyFj.tab-item-module_tab-item__2zDUr .tab-item-module_item-link__iK6Ij {
                    color: #8A8F9C; }
                    .tab-item-module_dark__DWyFj.tab-item-module_tab-item__2zDUr .tab-item-module_item-link__iK6Ij:hover {
                      color: #FFFFFF; }
                .tabs-module_tabs__2pYab {
                    position: relative; }
                  
                  .tabs-module_tab-list__7t5Q7 {
                    list-style: none;
                    margin: 0;
                    padding-left: 0; }
                  
                  .tabs-module_active-border__1fVRR {
                    bottom: 0;
                    height: 3px;
                    position: absolute;
                    will-change: left, width; }
                  
                  .tabs-module_dark__1RKdC.tabs-module_tabs__2pYab .tabs-module_tab-item__2Wg0X > .tabs-module_active-item__34VgS {
                    color: #FFFFFF; }
                  
                  .tabs-module_dark__1RKdC.tabs-module_tabs__2pYab .tabs-module_item-link__1Sotx {
                    color: #8A8F9C; }
                    .tabs-module_dark__1RKdC.tabs-module_tabs__2pYab .tabs-module_item-link__1Sotx:hover {
                      color: #FFFFFF; }
                  